html, body {
  margin: 0;
  padding: 0;
}

#topbar {
  background-color: #d01311;
  height: 100px;
}

#bottombar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #d01311;
  height: 100px;
  text-align: center;
}

#marka {
  block-size: 100%
}

.button {
  width: 200px;
  height: 100px;
}